/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	html {
		font-size: 9px;
	}
	section h3 br,
	p br {
		display: none;
	}
	.form_prod .decor {
		display: none;
	}
	.desc {
		font-size: 14px;
	}
	.main:before {
		background-position: 35% top;
		-ms-background-size: 150%;
		background-size: 150%;
	}
	.about .table {
		display: none;
	}
	.about {
		padding-bottom: 80px;
	}
	.product {
		padding-bottom: 0;
	}
	.service img {
		max-width: 100%;
	}
	.service .row {
		height: auto;
	}
	.service .row:nth-of-type(odd) .pict {
		display: block;
	}
	.rev .next {
		bottom: -85px;
		top: auto;
		right: 30%;
	}
	.rev .prev {
		bottom: -85px;
		top: auto;
		left: 30%;
	}
	.service .row:first-of-type .text {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	footer .row div  {
		text-align: center;
	}
	h1 {
		font-size: 4rem;
	}
	.made_by p,
	.copyright p {
		font-size: 16px;
	}
	html {
		font-size: 8px;
	}
	.open_form {
		text-align: center;
	}
	.open_form h3 {
		text-align: center;
		margin-top: 0;
	}
	.open_form h3 br {
		display: none;
	}
	.open_form button {
		margin-top: 3rem;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	.open_form {
		height: auto;
		background-position: left top;
	}
	.open_form .open_form_left p {
		margin-left: auto;
		margin-right: auto;
	}
	section {
		padding: 60px 0;
	}
	.about {
		padding-bottom: 60px;
	}
	.open_form .timer {
		margin-bottom: 4rem;
	}
	.open_form .main_btn {
		margin: 0 auto;
	}
	.open_form .timer__item {
		padding-top: 1.5rem;
	}
	.top_btn {
		display: none;
	}
	.main:before {
		display: none;
	}
	section h3 {
		font-size: 3rem;
	}
	section h4 {
		font-size: 2rem;
	}
	.form_prod form button {
		font-size: 10px;
	}
	.service .row {
		margin-bottom: 4rem;
	}
	.service .row:last-of-type {
		margin-bottom: 0;
	}
	.rev .slider_wrapper {
		padding: 60px 100px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.made_by {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	html {
		font-size: 7.5px;
	}
	section {
		padding: 40px 0;
	}
	footer .row {
		display: block;
	}
	.main {
		text-align: center;
	}
	.trigger li {
		padding: 0;
	}
	.trigger li:before {
		display: none;
	}
	.main_btns a {
		margin-left: auto;
		margin-right: auto;
	}
	.about .row {
		display: block;
		margin-bottom: 6rem;
	}
	.about .row_bg {
		display: none;
	}
	.about {
		background-repeat: repeat;
	}
	.about h4 {
		margin: 0;
	}
	.about img {
		margin: 25px 0;
		max-width: 370px;
		width: 100%;
	}
	.about .text:after {
		content: "";
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		bottom: -3.5rem;
		margin: auto;
		background-color: #293363;
		width: 200px;
	}
	.about {
		padding-bottom: 40px;
	}
	.about .row:last-of-type .text:after {
		display: none;
	}
	.prod_item .col-sm-4 {
		width: 33.33333333%;
		float: left;
	}
	.service .row {
		display: block;
		text-align: center;
	}
	.service img {
		width: 100%;
		max-width: 320px;
	}
	.main_btn {
		font-size: 12px;
	}
	.service .row {
		margin-bottom: 10rem;
	}
	.service .text:after {
		content: "";
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		bottom: -5.5rem;
		margin: auto;
		background-color: #293363;
		width: 200px;
	}
	.service .row:last-of-type .text:after {
		display: none;
	}
	.rev {
		display: none;
	}
	.step {
		text-align: center;
	}
	.step .col-sm-6 {
		margin-bottom: 10rem;
	}
	.step .col-sm-6:after {
		content: "";
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		bottom: -5rem;
		margin: auto;
		background-color: #293363;
		width: 200px;
	}
	.step .row:last-of-type .col-sm-6:last-of-type:after {
		display: none;
	}
	.step .row:last-of-type .col-sm-6:last-of-type {
		margin-bottom: 5rem;
	}
	.contact h3 {
		text-align: center;
	}
	.contact {
		text-align: center;
	}
	.contact img {
		margin: 30px 0;
	}
	.form_prod input {
		margin-bottom: 20px;
	}
	h1 {
		font-size: 2.8rem;
	}
	.top_head {
		display: block;
	}
	.logo {
		width: 30%;
		float: left;
	}
	.desc {
		width: 40%;
		float: left;
	}
	.top_phone {
		width: 30%;
		float: left;
		padding-top: 20px;
	}
}
@media only screen and (max-width : 630px) {
	.logo {
		width: 50%;
		text-align: left;
	}
	.top_phone {
		width: 50%;
	}
	.desc {
		position: absolute;
		width: 100%;
		left: 0;
		top: 90px;
	}
	.top_head {
		margin-bottom: 50px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.made_by p, .copyright p {
		font-size: 14px;
	}
	h1 {
		font-size: 2.2rem;
	}
	button#videoButton {
		width: 5rem;
		height: 5rem;
	}
	.open_form .timer__item {
		height: 60px;
		width: 60px;
		padding-top: 1rem;
	}
	section h3 span {
		font-size: 2rem;
	}
	section h3 {
		font-size: 2.2rem;
	}
	.prod_item .col-sm-4 {
		width: 100%;
	}
	.prod_item img {
		margin: 0 auto 20px;
	}
	.product .first_prod_q {
		margin-top: 0;
		margin-bottom: 5rem;
	}
	.product h4 {
		text-align: center;
	}
	.product .prev {
		top: -90px;
	}
	.product .next {
		top: -90px;
	}
	.form_prod h4 br {
		display: none;
	}
	.top_phone {
		font-size: 2rem;
	}
	.logo img {
		max-width: 130px;
	}
	.trigger li br {
		display: none;
	}
}

@media only screen and (max-width : 380px) {
	h1 {
		font-size: 2.4rem;
		line-height: 3.4rem;
	}
	h1 br {
		display: none;
	}
	h2 {
		font-size: 2rem;
		margin: 2rem 0 5rem;
	}
	main {
		padding-bottom: 6rem;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}
}